@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  /* border: red solid 0.5px; */
}

body {
  background-color: #F5F5F5;

}

.parent>h2>img {
  max-width: 100vw;
  height: 100%;
}

iframe {
  /* display: none; */
  width: 100%;
  height: 60vh;
  /* resize: both; */
}

iframe.edit {
  width: 50%;
  height: 50%;
}

#movie_player>div.ytp-chrome-top.ytp-show-cards-title>div.ytp-title-channel.ytp-title-show-collapsed>.ytp-title-channel-logo {
  display: none;
}

#movie_player>div.ytp-chrome-top.ytp-show-cards-title>div.ytp-chrome-top-buttons>button.ytp-watch-later-button.ytp-button.ytp-show-watch-later-title>div.ytp-watch-later-icon>.ytp-watch-later-title {
  display: none;
}

.square {
  border-radius: 0px;
}

.jumbotron {
  background-image: linear-gradient(to right, #007bff, #000);
  /* background-image: linear-gradient(to right, #4800ff, #e3941e); */
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.home-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.player:active {
  border: red;
}

::placeholder {
  color: red;
}

.editor-scroll ::-webkit-scrollbar {
  display: none;
}

.editor-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-pdf__Page__textContent,
.react-pdf__Page__annotations,
.annotationLayer {
  display: none;
}

.content {
  word-break: break-word;
  max-width: 70%;
  max-height: 100%;
  margin: auto;
  /* overflow: hidden; */
}

.content>img {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}